body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23e5eae2' fill-opacity='0.46' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.btn-update{
    font-size: 2rem;
}

.color-input{
    background-color: #fff !important;
    transition: background-color .5s ease;
}
.color-input:hover{
    background-color: rgb(216, 250, 255) !important;
}
.btn-delete {
    border: 0 ;
    background-color: transparent;
    cursor: pointer;
    color: rgb(159, 11, 11);
}

.btn-controls{
    font-size: 20px;
    transition: color .7s ease, transform .5s ease;
}

.btn-controls:hover{
    color: #000;
    transform: rotate(360deg);
}
.bg-alt{
    background: #D8FFFF !important;
}
.t-style{
    color: #000;
    font-weight: bolder;
    letter-spacing: 4px;
    /* background: #232323; */
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.t-style2{
    color: #000;
    font-weight: bolder;
    letter-spacing: 4px;
    /* background: #232323; */
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffcd18, 0 0 30px #ffcd18, 0 0 40px #ffcd18, 0 0 55px #ffcd18, 0 0 75px #ffcd18;    
}
.t-style3{
    color: #000;
    font-weight: bolder;
    letter-spacing: 4px;
    /* background: #232323; */
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #204175, 0 0 30px #204175, 0 0 40px #204175, 0 0 55px #204175, 0 0 75px #204175;
}
.t-style4{
    color: #000;
    font-weight: bolder;
    letter-spacing: 4px;
    /* background: #232323; */
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #3a5243, 0 0 30px #3a5243, 0 0 40px #3a5243, 0 0 55px #3a5243, 0 0 75px #3a5243;
}
.enlaceFoot{
    text-decoration: none;
    font-size: 3rem;
    color: brown;
    transition: color .7s ease;
}
.enlaceFoot:hover{
    text-decoration: none;
    color: rgb(49, 49, 147);
}